n8n_workflows/buyer_discovery.json
{
  "name": "🤖 Domain Buyer Discovery",
  "nodes": [
    {
      "id": "trigger-schedule",
      "name": "Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "hoursInterval": 4 }
          ]
        }
      }
    },
    {
      "id": "search-all",
      "name": "Search Reddit + HN for Buyers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [500, 300],
      "parameters": {
        "language": "javaScript",
        "code": "// Search multiple sources for people looking to buy domains\nconst axios = require('axios');\n\nasync function searchReddit() {\n  try {\n    const res = await axios.get('https://www.reddit.com/search.json', {\n      params: {\n        q: '(buying OR \"looking for\" OR \"want to buy\" OR \"need a\") (domain OR website)',\n        sort: 'new',\n        limit: 25,\n        t: 'week',\n        restrict_sr: false\n      },\n      headers: { 'User-Agent': 'DomainBroker/1.0' },\n      timeout: 15000\n    });\n    return (res.data.data?.children || []).map(c => {\n      const p = c.data || {};\n      return {\n        source: 'reddit',\n        username: p.author,\n        title: (p.title || '').substring(0, 200),\n        url: 'https://reddit.com' + (p.permalink || ''),\n        text: (p.selftext || '').substring(0, 500),\n        subreddit: p.subreddit || '',\n        created: new Date((p.created_utc || 0) * 1000).toISOString()\n      };\n    });\n  } catch (e) {\n    return [{ source: 'reddit', error: e.message }];\n  }\n}\n\nasync function searchHN() {\n  try {\n    const res = await axios.get('https://hn.algolia.com/api/v1/search_by_date', {\n      params: {\n        query: 'buying domain OR looking for domain OR need domain',\n        tags: 'story',\n        hitsPerPage: 15\n      },\n      timeout: 15000\n    });\n    return (res.data.hits || []).map(h => ({\n      source: 'hackernews',\n      username: h.author || '',\n      title: (h.title || '').substring(0, 200),\n      url: h.url || `https://news.ycombinator.com/item?id=${h.objectID}`,\n      text: (h.comment_text || '').substring(0, 500),\n      points: h.points || 0,\n      created: h.created_at || ''\n    }));\n  } catch (e) {\n    return [{ source: 'hackernews', error: e.message }];\n  }\n}\n\n// Run both searches\nconst [redditResults, hnResults] = await Promise.all([searchReddit(), searchHN()]);\n\n// Combine and score\nconst all = [...redditResults, ...hnResults].filter(r => !r.error && r.username);\n\nfor (const r of all) {\n  const text = ((r.title || '') + ' ' + (r.text || '')).toLowerCase();\n  let score = 0;\n  if (/buying|wants to buy|looking for|need a domain|need a website/.test(text)) score += 30;\n  if (/domain|website|dot com|startup|side project|ecommerce|online store/.test(text)) score += 15;\n  if (/suggestions|recommend|anyone know/.test(text)) score += 10;\n  if (r.points) score += Math.min(r.points, 20);\n  r.score = Math.min(score, 100);\n  r.domain_niche = '';\n  \n  // Extract what niche they want\n  const niches = ['ai', 'saas', 'ecommerce', 'finance', 'health', 'education', 'realestate', 'marketing', 'crypto'];\n  for (const n of niches) {\n    if (text.includes(n)) { r.domain_niche = n; break; }\n  }\n}\n\nall.sort((a, b) => b.score - a.score);\nreturn all.slice(0, 10).map(r => ({ json: r }));"
      }
    },
    {
      "id": "filter-high-intent",
      "name": "Filter High Intent Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [780, 300],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.score }}",
              "operation": "largerEqual",
              "value2": 30
            }
          ]
        }
      }
    },
    {
      "id": "discord-alert",
      "name": "Send Buyer Lead to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 420],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "{\n  \"username\": \"Domain Broker\",\n  \"embeds\": [{\n    \"title\": \"🚀 Potential Buyer Found on {{ $json.source }}\",\n    \"color\": 5814783,\n    \"url\": \"{{ $json.url }}\",\n    \"fields\": [\n      {\"name\": \"Username\", \"value\": \"{{ $json.username }}\", \"inline\": true},\n      {\"name\": \"Intent Score\", \"value\": \"{{ $json.score }}/100\", \"inline\": true},\n      {\"name\": \"Niche\", \"value\": \"{{ $json.domain_niche || 'Unknown' }}\", \"inline\": true},\n      {\"name\": \"Title\", \"value\": \"{{ $json.title }}\", \"inline\": false},\n      {\"name\": \"Link\", \"value\": \"{{ $json.url }}\", \"inline\": false}\n    ],\n    \"footer\": {\"text\": \"n8n Buyer Discovery\"},\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }]\n}",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "save-to-file",
      "name": "Append to Buyer Leads File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1060, 140],
      "parameters": {
        "language": "javaScript",
        "code": "// Save buyer lead to local file\nconst fs = require('fs');\nconst path = require('path');\n\nconst filePath = 'C:\\\\Users\\\\khali\\\\domain-flipper\\\\data\\\\n8n_buyer_leads.json';\n\nlet leads = [];\ntry {\n  if (fs.existsSync(filePath)) {\n    leads = JSON.parse(fs.readFileSync(filePath, 'utf8'));\n  }\n} catch(e) {\n  // Start fresh\n}\n\nconst now = new Date().toISOString();\nfor (const item of $input.all()) {\n  leads.push({\n    ...item.json,\n    discovered_at: now\n  });\n}\n\n// Keep last 100 leads\nif (leads.length > 100) leads = leads.slice(-100);\n\nconst dir = path.dirname(filePath);\nif (!fs.existsSync(dir)) fs.mkdirSync(dir, { recursive: true });\nfs.writeFileSync(filePath, JSON.stringify(leads, null, 2));\n\nconsole.log(`Saved ${$input.all().length} buyers, total: ${leads.length}`);\nreturn $input.all();"
      }
    },
    {
      "id": "manual-trigger",
      "name": "Run Now (Manual)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 100],
      "parameters": {}
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          { "node": "Search Reddit + HN for Buyers", "type": "main", "index": 0 }
        ]
      ]
    },
    "Every 4 Hours": {
      "main": [
        [
          { "node": "Search Reddit + HN for Buyers", "type": "main", "index": 0 }
        ]
      ]
    },
    "Search Reddit + HN for Buyers": {
      "main": [
        [
          { "node": "Filter High Intent Only", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter High Intent Only": {
      "main": [
        [
          { "node": "Append to Buyer Leads File", "type": "main", "index": 0 }
        ],
        [
          { "node": "Send Buyer Lead to Discord", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Asia/Karachi",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": []
}
